---
import SliderButton from "../ui/interactive/SliderButton.svelte";
const { imagenFondoHomePage, alternativeText } = Astro.props;
---
<article class="hero">
  <img src={imagenFondoHomePage} alt={alternativeText} class="banner" />
  <h1 class="hero_title">Max Green</h1>
  <h2 class="hero_subtitle">
    <span>Súper saludable Grande</span>
    <span>Ligero verde Frutas</span>
    <span></span>
    </h2>
  <div class="hero_container_description">
    <strong><p class="hero_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel quos</p></strong>
    <strong><p class="hero_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel quos</p></strong>
  </div>
</article>

<nav class="slider_interaction">
  <SliderButton client:idle contentType="text" text="ant" />
  <SliderButton client:idle contentType="text" text="sig" />
</nav>

<style>
  .hero {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
  }

  .hero_titles {
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
  }

  .hero_title {
    margin: 0;
    text-align: center;
    font-family: var(--font-decorative);
    font-weight: var(--font-bold);
  }

  .hero_subtitle {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    font-family: var(--font-title);
    font-weight: var(--font-semibold);
  }
  .hero_container_description {
    width: 100%;
    display: flex;
  }

  .hero_description {
    margin: 0;
    font-family: var(--font-title);
    font-weight: var(--font-medium);
    font-
  }

  .hero_button_pedir {
    margin: 0 auto;
    padding: 1rem 3rem;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .slider_interaction {
    margin: 0 auto;
    width: 90vw;
    display: flex;
    justify-content: left;
    gap: 10rem;
    margin-top: 1rem;
  }

  .slider_interaction_bt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 2rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    border: .1rem solid var(--color-black);
    box-shadow: .250rem .150rem 0 .1rem var(--color-black);
    color: var(--color-black);
    font-family: var(--font-title);
    font-weight: var(--font-bold);
    font-size: var(--txt-size-small);
  }

</style>
