<a href="" class="acces_cart">
  <img src="/shopping_cart.svg" alt="Carrito de compras" class="acces_cart_shoppingCart" />
</a>

<style>
  .acces_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 2rem;
    background-color: var(--color-menu);
    border-radius: 1rem;
    border: .1rem solid var(--color-black);
    box-shadow: .3rem .150rem 0 .1rem var(--color-black);
  }

    .acces_cart_shoppingCart {
        width: 2.3rem;
        height: 2.3rem;
    }
</style>
